.container_properties {
  background-image: url("../Images/animation1_frame_trim.gif");
  z-index: 0;
  opacity: 0.3;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../Images/frame5.png");
  z-index: -1;
  opacity: 1;
  font-family: monospace;
  color: white;
  font-size: medium;
}

.content {
  z-index: 1;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.login {
  align-items: center;
  align-self: center;
  border-radius: 25px;
  background-image: url("../Images/LoginBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: auto;
  margin: auto;
  text-align: center;
  position: absolute;
  z-index: 3;
  border: 2px solid black;
  right: 15%;
  left: 15%;
  top: 5%;
  width: 30%;
  height: 34.8%;
}

.loginSmallBorder {
  width: 30%;
  height: 34.91%;
  border: 4px solid orange;
  right: 15%;
  left: 15%;
  top: 4.7%;
  align-items: center;
  align-self: center;
  border-radius: 25px;
  z-index: 2;
  bottom: auto;
  margin: auto;
  text-align: center;
  position: absolute;
}

input,
a,
p {
  z-index: 5;
  position: relative;
  bottom: auto;
  font-family: inherit;
  color: white;
}

input[type="button"] {
  color: black;
  font-size: 10px;
  background-color: orange;
  border: 0px solid black;
  left: 27%;
  top: -10%;
  width: 48px;
}

.textBackground {
  border-radius: 25px;
  position: absolute;
  z-index: 4;
  display: block;
  margin: auto;
  background-color: #606060;
}

#USRPSW {
  margin: auto;
  top: -2.5%;
  right: 19%;
}

a {
  right: 27%;
  color: blue;
}

input,
a {
  top: -5%;
  width: 50%;
  height: 6%;
}

.textBackground {
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  width: 80%;
  height: 90%;
}

#ErrorHandler {
  align-self: center;
  top: 2%;
  color: red;
  visibility: hidden;
  text-shadow: 1px 1px black;
  font-size: 9px;
  margin: 30px;
}

input[type="text"] {
  color: black;
}

@media only screen and (max-width: 992px) {
  .login {
    border: 2px solid black;
    width: 63.8%;
    height: 34.8%;
  }
  .loginSmallBorder {
    width: 64%;
    height: 35%;
  }
}
