.container_properties {
  background-image: url(../Images/animation1_frame_trim.gif);
  z-index: 0;
  opacity: 0.3;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
body {
  background-image: url(../Images/frame5.png);
  z-index: -1;
  opacity: 1;
  font-family: monospace;
  color: white;
}
.content {
  z-index: 1;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.login {
  align-items: center;
  align-self: center;
  border-radius: 25px;
  background-image: url(../Images/LoginBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: auto;
  margin: auto;
  text-align: center;
  position: absolute;
  z-index: 3;
}
.loginSmallBorder {
  align-items: center;
  align-self: center;
  border-radius: 25px;
  z-index: 2;
  bottom: auto;
  margin: auto;
  text-align: center;
  position: absolute;
}
input, a, p {
  z-index: 5;
  position: relative;
  bottom: auto;
  font-family: inherit;
}
input[type="text"] {
  color: #909090;
}
input[type="button"] {
  color: black;
  background-color: orange;
  border: 0px solid black;
  left: 27%;
  width: 48px;
}
.textBackground {
  border-radius: 25px;
  position: absolute;
  z-index: 4;
  display: block;
  margin: auto;
  background-color: #606060;
}
p {
  margin: auto;
  top: 21%;
  right: 19%;
}
a {
  right: 27%;
}

@media only screen and (max-width: 600px) {
  .login {
    border: 2px solid black;
    right: 15%;
    left: 15%;
    top: 5%;
    width: 63.5%;
    height: 34.8%;
  }
  .loginSmallBorder {
    border: 4px solid orange;
    right: 15%;
    left: 15%;
    top: 4.7%;
    width: 64%;
    height: 35%;
  }
  input, a {
    top: 20%;
    width: 50%;
    height: 6%;
  }
  .textBackground {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    width: 90%;
    height: 90%;
  }
}
@media only screen and (min-width: 600px) {
  .login {
    border: 3px solid black;
    right: 25%;
    left: 25%;
    top: 5%;
    width: 24%;
    height: 45%;
  }
  .loginSmallBorder {
    border: 6px solid orange;
    right: 25%;
    left: 25%;
    top: 4.7%;
    width: 24%;
    height: 45%;
  }
  input, a {
    top: 20%;
    width: 50%;
    height: 4%;
  }
  .textBackground {
    left: 15%;
    right: 15%;
    top: 5%;
    bottom: 5%;
    width: 70%;
    height: 90%;
  }
}
@media only screen and (min-width: 786px) {
  .login {
    border: 3px solid black;
    right: 25%;
    left: 25%;
    top: 5%;
    width: 24%;
    height: 45%;
  }
  .loginSmallBorder {
    border: 6px solid orange;
    right: 25%;
    left: 25%;
    top: 4.7%;
    width: 24%;
    height: 45%;
  }
  input, a {
    top: 20%;
    width: 50%;
    height: 4%;
  }
  .textBackground {
    left: 15%;
    right: 15%;
    top: 5%;
    bottom: 5%;
    width: 70%;
    height: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .login {
    border: 3px solid black;
    right: 25%;
    left: 25%;
    top: 5%;
    width: 24%;
    height: 45%;
  }
  .loginSmallBorder {
    border: 6px solid orange;
    right: 25%;
    left: 25%;
    top: 4.7%;
    width: 24%;
    height: 45%;
  }
  input, a {
    top: 20%;
    width: 50%;
    height: 4%;
  }
  .textBackground {
    left: 15%;
    right: 15%;
    top: 5%;
    bottom: 5%;
    width: 70%;
    height: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .login {
    border: 3px solid black;
    right: 25%;
    left: 25%;
    top: 5%;
    width: 24%;
    height: 45%;
  }
  .loginSmallBorder {
    border: 6px solid orange;
    right: 25%;
    left: 25%;
    top: 4.7%;
    width: 24%;
    height: 45%;
  }
  input, a {
    top: 20%;
    width: 50%;
    height: 4%;
  }
  .textBackground {
    left: 15%;
    right: 15%;
    top: 5%;
    bottom: 5%;
    width: 70%;
    height: 90%;
  }
}
